@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Default</title>
</head>
<body>
    <form method="post" action="Name.cshtml">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <button type="submit">Wyślij</button>
    </form>
</body>
</html>
