@{
    Layout = null;
    var name = Request["name"];
    if (String.IsNullOrWhiteSpace(name))
    {
        name = "Robert Paulson";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Name</title>
</head>
<body>
    <ul>
        @for (var i = 0; i < 10; i++)
        {
            <li>His name is @name</li>
        }
    </ul>
</body>
</html>
